.forbid-scroll {
  overflow-y: hidden;
}

.header {

  @include response-to(small) {
    position: relative;
  }

  &-menu__btn {
    display: none;
    height: 27px;
    width: 41px;
    cursor: pointer;
    @include transition-ease;
    z-index: 110;
    position: relative;

    @include response-to(small) {
      display: block;
    }
  }

  &-menu__burger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 41px;
    height: 5px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(196, 196, 196, 0.99) 100%);

    @at-root %burger_pseudo {
      content: '';
      position: absolute;
      height: 5px;
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(196, 196, 196, 0.99) 100%);
      @include transition-ease;
    }

    &:before {
      @extend %burger_pseudo;
      top: -10px;
      width: 41px;
    }

    &:after {
      @extend %burger_pseudo;
      width: 30px;
      top: 10px;
    }

    &.active {
      transform: rotate(720deg);
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(5px, 8px);
        background-color: #fff;
      }

      &:after {
        transform: rotate(-45deg) translate(6px, -9px);
        width: 41px;
        background-color: #fff;
      }
    }
  }
}

.menu {
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

  @include response-to(small) {
    transform: translateX(100vw);
    @include transition-ease;
    padding: 0;
    z-index: 100;
    position: fixed;
    top: 90px;
    bottom: 0;
    background-color: #fff;
    left: 0;
    right: 0;
  }

  &.active {
    transform: translateX(0);
  }

  & .container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include response-to(small) {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 15vh;
    }
  }

  &__item {
    padding: 0 60px;
    @include transition-ease;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #000;
    position: relative;

    @include response-to(large) {
      padding: 0 30px;
      font-size: 20px;
    }

    @include response-to(medium) {
      padding: 0 20px;
    }

    @include response-to(small) {
      margin-bottom: 30px;
      text-align: center;
      padding: 0;
      transform: translateX(100vw);
      @include transition-ease;

      &.active {
        transform: translateX(0);
      }
    }

    &:not(:last-of-type):after {
      position: absolute;
      right: 0;
      content: '';
      width: 1px;
      top: 0;
      bottom: 0;
      background-color: rgba(#000, .4);

      @include response-to(small) {
        content: none;
      }
    }

    &:hover {
      color: $secondary-color;
      text-decoration: underline;
    }
  }
}

@for $i from 1 through 5 {
  .m a:nth-child(#{$i}) {
    transition-delay: ( $i * .1s ) + 0.25s;
  }
}