.section-caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;

    @include response-to(large) {
      width: 35%;
    }

    @include response-to(medium) {
      width: 30%;
    }

    @include response-to(small) {
      width: 10%;
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.page-caption {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 140.6%;
  text-transform: capitalize;
  width: fit-content;
  margin: 0 auto;
  color: #000;
  
  & > span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: $secondary-color;
  }
}