.section-caption {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}