.footer {
  background-color: #000;
  padding: 40px 0 34px;

  .menu {
    background-color: inherit;
    margin: 0 auto 40px;
    width: fit-content;
    padding: 0;

    @include response-to(small) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 0;
    }
    
    &__item {
      color: #fff;

      @include response-to(small) {
        margin-bottom: 20px;
      }
      
      &:hover {
        color: #fff;
      }
    }
  }

  &__text {
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}