.header {
  background-color: #252323;

  @include response-to(small) {
    padding: 38px 0 15px;
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__right {
    display: flex;
    align-items: center;

    &_phone {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.2;
      color: #fff;
      margin-right: 20px;

      & > a {
        font-size: 24px;
        color: inherit;
        margin-left: 5px;

        &:hover {
          text-decoration: underline;
        }
      }

      @include response-to(small) {
        display: none;
      }
    }

    &_btn {
      $shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
      background-color: $main-color;
      color: #fff;
      text-align: center;
      padding: 13px 0 9px;
      box-shadow: $shadow;
      border: 1px solid #1B9618;
      text-shadow: $shadow;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      width: 240px;
      @include transition-ease;

      &:hover {
        $shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
        box-shadow: $shadow;
        text-shadow: $shadow;
      }

      @include response-to(small) {
        display: none;
      }
    }
  }
}