$breakpoints: (
        small: 767px,
        medium: 992px,
        large: 1200px
);

$main-color: #21C11E;
$secondary-color: #50AC2F;
$links-color: #007AFF;

$z-layers: (
        bottomless-pit: -9999,
        default: 1,
);

$container: 1320px;
