@import "main";

.how-it-work-page {
  margin-top: 85px;
  margin-bottom: 100px;

  @include response-to(medium) {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .caption {
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 40px;
    line-height: 140.6%;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    @include response-to(medium) {
      margin-bottom: 30px;
    }

    @include response-to(small) {
      font-size: 30px;
    }
  }

  .content {
    display: flex;
    align-items: center;
    width: 100%;

    @include response-to(medium) {
      flex-wrap: wrap;
    }

    .left {
      width: 50%;

      @include response-to(medium) {
        width: 100%;
      }

      & > p {
        max-width: 370px;
        font-weight: bold;
        font-size: 36px;
        line-height: 140.6%;

        @include response-to(large) {
          max-width: 265px;
        }

        @include response-to(medium) {
          max-width: unset;
          text-align: center;
        }

        @include response-to(small) {
          font-size: 25px;
        }

        & > span {
          text-transform: uppercase;
          color: $secondary-color;
        }
      }
    }

    .right {

      @include response-to(medium) {
        margin: 20px auto;
      }

      &__item {
        display: flex;
        align-items: center;
        margin-bottom: 65px;
        position: relative;

        @include response-to(medium) {
          margin-bottom: 35px;
        }

        &_btn {

          @include response-to(large) {
            max-width: 60px;
          }

          & > img {

            @include response-to(large) {
              width: 100%;
            }

            @include response-to(small) {
              width: 80%;
            }
          }
        }

        & .wrap {
          position: absolute;
          top: 50%;
          left: 0;
          width: 200px;

          @include response-to(large) {
            width: 140px;
          }

          @include response-to(medium) {
            display: none;
          }
        }

        &:nth-of-type(2) {

          .wrap {
            transform: translate(-120%, -50%);
            height: 1px;
            background-color: rgba(0, 0, 0, 0.3);

            & > span {
              position: relative;
              width: 100%;
              display: block;

              &:after,
              &:before {
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $secondary-color;
                top: 50%;
                transform: translateY(-50%);
              }

              &:after {
                left: -15px;
              }

              &:before {
                right: -15px;
              }
            }
          }
        }

        &:last-of-type {

          .wrap {
            height: calc(100% + 65px);
            top: -108px;
            transform: translateX(-120%);

            .inner {
              width: 100%;
              height: 100%;
              position: relative;

              &:before {
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $secondary-color;
                top: 36px;
                left: -15px;
              }

              &:after {
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $secondary-color;
                bottom: -10px;
                right: -15px;
              }

              & > span {
                position: absolute;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.3);
                width: 228px;
                transform: rotate(28deg) translateX(-50%);
                bottom: 0;
                right: -57%;

                @include response-to(large) {
                  width: 168px;
                  transform: rotate(31deg) translateX(-50%);
                  bottom: -3px;
                  right: -62%;
                }
              }
            }
          }
        }

        &:first-of-type {

          .wrap {
            height: calc(100% + 65px);
            top: 45px;
            transform: translateX(-120%);


            .inner {
              width: 100%;
              height: 100%;
              position: relative;

              &:before {
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $secondary-color;
                top: -10px;
                right: -15px;
              }

              &:after {
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $secondary-color;
                bottom: 36px;
                left: -15px;
              }

              & > span {
                position: absolute;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.3);
                width: 228px;
                transform: rotate(-28deg) translateX(-50%);
                top: 0;
                right: -57%;

                @include response-to(large) {
                  width: 165px;
                  transform: rotate(-31deg) translateX(-36%);
                  top: 10px;
                  right: -63px;
                }
              }
            }
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &_link {
          margin-left: 28px;
          font-weight: 600;
          font-size: 30px;
          line-height: 140.6%;
          color: $secondary-color;
          text-decoration: underline;
          margin-bottom: 15px;

          @include response-to(large) {
            font-size: 25px;
            margin-left: 18px;
          }

          @include response-to(small) {
            font-size: 20px;
          }
        }
      }
    }
  }
}