body,
p,
ul, li,
h1, h2, h3, h4, h5, h6,
input,
textarea,
figure,
address,
blockquote,
iframe,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
:root {
  font-size: 15px;
}
body {
  font-family: $myriad-pro, sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;

  @include response-to(small) {
    padding-bottom: 330px;
  }
}