& .first-section {
  background-image: url("../../../img/main-first-sec-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  text-align: center;
  height: 80vh;
  min-height: 600px;
  margin: 0 auto;
  color: #fff;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000, .15);
    z-index: 1;
  }

  @include response-to(medium) {
    padding-top: 60px;
    min-height: 300px;
  }

  & .container {
    position: relative;
    z-index: 2;
  }

  &__caption {
    margin-bottom: 73px;
    text-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-transform: capitalize;

    @include response-to(medium) {
      font-size: 35px;
    }

    @include response-to(small) {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 45px;
    }
  }

  & .form {
    width: 100%;
    max-width: 625px;
    margin: 0 auto;

    &__title {
      font-weight: 900;
      font-size: 32px;
      line-height: 38px;
      text-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
      margin-bottom: 18px;

      @include response-to(medium) {
        font-size: 28px;
      }

      @include response-to(small) {
        font-size: 21px;
        line-height: 1;
        text-shadow: 0 0 20px rgba(0, 0, 0, 1)
      }
    }

    &-group {
      display: flex;
      align-items: stretch;
      justify-content: center;
      margin-bottom: 20px;
      position: relative;

      .toltip {
        position: absolute;
        color: red;
        border: 1px solid red;
        background-color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 600;
        z-index: 22;
        border-radius: 5px;
        bottom: 0;
        transform: translateY(105%);
        left: 0;
        cursor: pointer;
      }

      &__livesearch {
        position: absolute;
        width: 508px;
        background-color: #e5e3df;
        z-index: 2;
        top: 60px;
        left: 0;

        @include response-to(small) {
          width: 100%;
          top: 50px;
        }

        &_link {
          text-align: left;
          padding: 5px 10px;
          border-bottom: 1px solid #000;
          color: #000;
          font-size: 18px;
          display: block;
          cursor: pointer;

          @include response-to(small) {
            font-size: 16px;
          }

          &:hover {
            background-color: lighten(#e5e3df, 5%);
          }
        }
      }

      &__note {
        position: absolute;
        bottom: -130px;
        color: #fff;
        transform: translateX(-50%);
        left: 50%;
        font-size: 20px;
        text-shadow: 0 4px 4px #000000;
      }

      & .check-address__input {
        display: block;
        width: 522px;
        background-color: #fff;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(4px);
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        padding: 21px 30px;
        font-size: 16px;
        line-height: 19px;
        position: relative;
        z-index: 1;

        @include response-to(small) {
          width: 75%;
          padding: 14px 10px;
        }

        &.warn {
          border: 1px solid red;
          box-shadow: 0 0 15px red;
        }
      }

      & .check-address__btn {
        display: block;
        background-color: $main-color;
        width: 120px;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(4px);
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        border: none;
        cursor: pointer;
        background-image: url("../../../img/search.png");
        background-size: initial;
        background-repeat: no-repeat;
        background-position: center 15px;
        @include transition-ease;

        &:hover {
          background-color: $secondary-color;
        }

        @include response-to(small) {
          width: 25%;
          background-position: center 10px;
        }

        &.active {
          background-size: 70px;
          background-position: center;
          background-image: url("../../../img/Infinity-1s-237px.gif");

          &:hover {
            background-color: $main-color;
          }
        }
      }
    }

    &__note {
      text-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
      padding: 5px 60px;
      background-image: url("../../../img/Rectangle27.png");
      background-size: cover;
      background-position: center;
      width: fit-content;
      margin: 0 auto;

      @include response-to(small) {
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0;
        padding: 5px 0;
      }
    }
  }
}